body {
    font-size: 18px;
    margin: 0 auto;
}

.gpsBtn {
    background-color: darkblue;
    color: white;
    padding: 20px;
}

p {
    font-size: 2rem;
    color: darkred;
    border: 1 solid;
}

#map {
    height: 100%;
}